/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f0f #f0f ;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #0e0e0e;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #f0f ;
    border-radius: 20px;
    border: 1px solid #0e0e0e ;
  }